<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.ActivityMonitor" version="10.1.1" targetFramework="net461" />
  <package id="CK.ActivityMonitor.SimpleSender" version="10.1.1" targetFramework="net461" />
  <package id="CK.Core" version="10.1.1" targetFramework="net461" />
  <package id="CK.DB.Actor" version="3.0.0" targetFramework="net461" />
  <package id="CK.DB.Tests.NUnit" version="8.0.0" targetFramework="net461" />
  <package id="CK.Monitoring" version="9.1.1" targetFramework="net461" />
  <package id="CK.Reflection" version="8.0.0" targetFramework="net461" />
  <package id="CK.Setupable.Model" version="8.0.0" targetFramework="net461" />
  <package id="CK.SqlServer.Parser" version="10.0.0" targetFramework="net461" />
  <package id="CK.SqlServer.Parser.Model" version="7.0.0" targetFramework="net461" />
  <package id="CK.SqlServer.Setup.Model" version="8.0.0" targetFramework="net461" />
  <package id="CK.SqlServer.Transform" version="10.0.0" targetFramework="net461" />
  <package id="CK.StObj.Model" version="8.0.0" targetFramework="net461" />
  <package id="CK.Testing" version="0.6.0" targetFramework="net461" />
  <package id="CK.Testing.CKSetup" version="8.0.0" targetFramework="net461" />
  <package id="CK.Testing.DBSetup" version="8.0.0" targetFramework="net461" />
  <package id="CK.Testing.Monitoring" version="0.6.0" targetFramework="net461" />
  <package id="CK.Testing.SetupableSetup" version="8.0.0" targetFramework="net461" />
  <package id="CK.Testing.SqlServer" version="0.6.0" targetFramework="net461" />
  <package id="CK.Testing.SqlTransform" version="10.0.0" targetFramework="net461" />
  <package id="CK.Testing.StObjMap" version="8.0.0" targetFramework="net461" />
  <package id="CK.Testing.StObjSetup" version="8.0.0" targetFramework="net461" />
  <package id="CK.Text" version="7.0.1" targetFramework="net461" />
  <package id="CK.WeakAssemblyNameResolver" version="0.5.0" targetFramework="net461" />
  <package id="CKSetup.Core" version="8.0.0" targetFramework="net461" />
  <package id="CSemVer" version="4.0.0" targetFramework="net461" />
  <package id="FluentAssertions" version="5.4.1" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.10.0" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
  <package id="NUnit.Runners.Net4" version="2.6.4" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>